<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>3D Viewer</title>
</head>
<body>
    <div style="max-width: 800px; margin: 100px auto; text-align: center;">
        <h1>3D Viewer</h1>

        <h2>О программе</h2>
        <p>В данном проекте представлена реализация на языке программирования Си программы для просмотра 3D моделей в каркасном виде (3D Viewer). Сами модели загружаются из файлов формата .obj. Имеется возможность просматривать их на экране с возможностью вращения, масштабирования и перемещения.</p>
        <div>
                <h3>Возможности программы</h3>
                <ul style="list-style-type: none; padding: 0; ">
                    <li>Загрузка каркасной модели из файла формата obj (поддержка только списка вершин и поверхностей)</li>
                    <li>Перемещение модели на заданное расстояние относительно осей X, Y, Z</li>
		    <li>Вращение модели на заданный угол относительно осей X, Y, Z</li>
                    <li>Масштабирование модели на заданное значение</li>
                    <li>Корректная обработка моделей с деталями до 1 000 000 вершин без зависания</li>
                    <li>Настройка типа проекции (параллельная и центральная)</li>
                    <li>Настройка типа, цвета, толщины ребер; способа отображения, цвета, размера вершин</li>
                    <li>Выбор цвета фона</li>
                    <li>Сохранение настроек между перезапусками программы</li>
                    <li>Возможность сохранять рендер в форматах bmp и jpeg</li>
                    <li>Возможность записи gif-анимации загруженного объекта</li>
                </ul>
        </div>

        <h2>Установка</h2>
        <p>Для того, чтобы начать использовать программу, вам нужно использовать команду make install.</p>

        <h2>Удаление</h2>
        <p>Для удаления программы вы можете использовать команду make uninstall.</p>
    </div>
</body>
</html>
